
streamlit
pandas
numpy
plotly
requests
prophet
scikit-learn
xgboost
deap
scikit-optimize
textblob
tensorflow
ta
vaderSentiment
shap
joblib
keras-tuner
matplotlib
torch
torch_geometric
stable-baselines3
gym
hmmlearn
torchdiffeq
shimmy>=2.0
transformers
